body {
    background-color: aquamarine;
    margin-top: 0px;
    margin-left: 0px;
}
.one{
    height: 100px;
    width: 100px;
    background-color: #e6415a;
    text-align: center;
    font-size: 50px;
    border: 5px;
    border-color: black;
    border-style: solid;
    
    position: absolute;
    

} 
.two{
    height: 100px;
    width: 100px;
    background-color: #ca6999;
    text-align: center;
    border: 5px;
    border-color: black;
    border-style: solid;
    position: absolute;
    left: 110px;
    font-size: 50px;
}
.three{
    height: 100px;
    width: 100px;
    background-color: #f0e263;
    text-align: center;
    border: 5px;
    border-color: black;
    border-style: solid;
    position: absolute;
    left: 210px;
    font-size: 50px;
    }

.four{
            height: 100px;
            width: 100px;
            background-color: #bd82d4;
            text-align: center;
            border: 5px;
            border-color: black;
            border-style: solid;
            position: absolute;
            left: 310px;
            font-size: 50px;
            }
.five{
                height: 100px;
                width: 100px;
                background-color: #718abe;
                text-align: center;
                border: 5px;
                border-color: black;
                border-style: solid;
                position: absolute;
                left: 410px;
                font-size: 50px;
                }
.six{
        height: 100px;
        width: 100px;
        background-color: #82deee;
        text-align: center;
        border: 5px;
        border-color: black;
        border-style: solid;
        position: absolute;
        top:110px;
        
        font-size: 50px;
             }
                        
.seven{
                height: 100px;
                width: 100px;
                background-color: #8aecc3;
                text-align: center;
                border: 5px;
                border-color: black;
                border-style: solid;
                position: absolute;
                top:110px;
                left:110px;
                font-size: 50px;
     }
     .eight{
        height: 100px;
        width: 100px;
        background-color: #9bec30;
        text-align: center;
        border: 5px;
        border-color: black;
        border-style: solid;
        position: absolute;
        top:110px;
        left: 210px;
        font-size: 50px;
        }
        .nine{
            height: 100px;
            width: 100px;
            background-color: #5fda3a;
            text-align: center;
            border: 5px;
            border-color: black;
            border-style: solid;
            position: absolute;
            top:110px;
            left: 310px;
            font-size: 50px;
            }
  .zero{
        height: 100px;
        width: 100px;
        background-color: #ec6f59;
        text-align: center;
        border: 5px;
        border-color: black;
        border-style: solid;
        position: absolute;
        top:110px;
        left: 410px;
        font-size: 50px;
        
     }    
        
    .details{
        position: relative;
        top:220px;
        height: 290px;
        width: 510px;
        background-color: #aef580;
        border: 5px;
        border-color: black;
        border-style: solid;
        font-size: 50px;
    }
button {
    position: absolute;
    top:500px;
    left:520px;
}
.dis{
        position: absolute;
        left:525px;
        height: 510px;
        width: 610px;
        background-color: #baf0ed;
        border: 5px;
        border-color: black;
        border-style: solid;
        font-size: 50px;
}
span{
    text-align: center;
    position: absolute;
    top:90px;
    left:110px;
    color:#e6415a;
    font-size: 80px;
    border: 5px;
    background-color: #84e4df;
    border-color: rgb(18, 146, 146);
    border-style: solid;
}
    
